<h1>投稿一覧</h1>


<% @posts.each do |post| %>
<div>
<%=safe_join(post.body.split("\n"),tag(:br))%>
</div>
<% end %>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "border rounded p-2 text-dark" %>