<h1 class="text-center my-5">新規投稿</h1>

<%= form_with model: @post do |f| %>
  <div class="container">
    <div class="row">

      <div class="col-11 text-right mb-2">
        <%= f.file_field :image, accept: "image/*", class: "w-75" %>
        <button type="submit" class="btn btn-success btn-lg rounded-circle"><i class="fa-solid fa-paper-plane"></i></button>
      </div>

      <div class="col-10 mx-auto">
        <%= f.text_area :body, class: "form-control form-control-lg", placeholder:"投稿内容" %>
      </div>

    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'form' %>