<h1 class="text-center my-4">新規投稿</h1>

<%= form_with model: @post do |f| %>
  <div class="container">
    <div class="row">

      <div class="col-10 mx-auto my-5">
        <%= f.text_area :body, class: "form-control form-control-lg", placeholder:"投稿内容" %>
        <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
      </div>

    </div>
  </div>
<% end %>