<div class="dm_list">
  <% @rooms.each do |room| %>

    <div class="dm_list_content">
      <%= link_to room_path(room), class: "dm_list_ontent_link" do %>
        <div class="dm_list_content_link_box">
          <h3 class="dm_list_content_link_box_name">
            <%= opponent_user(room) %>
          </h3>
          <p class="dm_list_content_link_box_message">
            <%= most_new_message_preview(room) %>
          </p>
        </div>
      <% end %>
    </div>

  <% end %>
</div>


