<div class="container">
  <div class="row">
    <div class='mx-auto col-11 my-5 text-center'>

      <h1>ようこそ<strong>Public Square</strong>へ！</h1>

      <div class="col-10 mx-auto">
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-lg btn-block text-light my-5 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up',new_user_registration_path, class: "btn btn-success btn-lg text-light btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>
