/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #bee0c2;
}


main {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #bee0c2;
}

.user_name {
  font-size: 1.3rem;
  color: black;
}

A:visited {
    color: #0072ff;
    text-decoration: none;
}
A:link {
    color: #0072ff;
    text-decoration: none;
}
A:hover{
    color:#ff6a00;
    text-decoration:underline;
}
A:active {
    color: #ff6a00;
    text-decoration: underline;
}

.DivLink {
    position: relative;
    cursor: pointer;
}

/*プレビュー画像表示*/
.prevImageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.prevImageBox .upper-box {
  height: 100%;
  width: 100%;
}

.prevImageBox img {
  width: 300px;
  height: 300px;
}

.prevImageBox .lower-box {
  display: flex;
  justify-content: center;
}

.prevImageBox .lower-box .delete-box {
  color: #fff;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #eee;
  background: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.prevImageBox .delete-box {
  display: flex;
  justify-content: center; /* ボタンを横方向に中央に配置 */
  width: 50px;
  margin-top: 10px;
  text-align: center;
}

.prevImageBox .lower-box .delete-box .delete-btn {
  background-color: #D3D3D3;
  line-height: 40px;
  width: 200px;
}